@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        height: 100%;
    }

    body {
        background-color: #313131;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #262626;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #262626;
    }

    [type="search"]::-webkit-search-cancel-button {

        cursor: pointer;
        font-size: 2rem;
    }
}